

body {
    background-image: radial-gradient(grey 20%, #9fbfa1 20%);
    background-position: 0 0;
    background-size: 15px 15px;
    height: 10px;
    width: 100%;
}

.nav{
    background-color: transparent;
    text-align: center;
    width: 200px;
    height:175px;

    margin-left: 20px;
    border: 3px solid black;
    border-radius: 50%;
    padding-bottom: 10px;
    padding-top:3px;
}

.heading{
    padding-bottom: 20px;
    font-family: "Sacramento", cursive;
    font-size:80px;

}


h1{
    font-size: 4vw;
    font-family: "Sacramento", cursive;
}

form{
    width: 40%;
    margin: auto;
    font-family: "Amatic SC", cursive;
    font-size: 45px;
    text-align: center;
    border: 2px solid black;
    padding: 10px;


}

label{
    padding-right: 5px;
}

button{
    font-family: "Sacramento",cursive;
    font-size:30px;
    background-color: Transparent;
    border:none;
}

button:hover{
    text-decoration: 2px black underline;
    color: white;
}

input{
    border-style: none none solid none;
    background-color: transparent;
    border-bottom: 2px solid black;
}
.frequencyLabel{
    font-size: 30px;
    font-family: "Sacramento", cursive;
}


.table{
    width: 80%;
    font-size: 45px;
    text-align:center;
    margin: auto;
    table-layout: fixed;

}

td{
    font-family: "Amatic SC", cursive;
}
