

body {
    background-image: radial-gradient(grey 20%, #9fbfa1 20%);
    background-position: 0 0;
    background-size: 15px 15px;
    height: 10px;
    width: 100%;
}

.nav{
    background-color: transparent;
    text-align: center;
    width: 70%;
    height:22%;
    margin: auto;
    border: 3px solid black;
    padding-top:2px;
    margin-bottom:  10px;
}

.heading{
    padding-bottom: 20px;
    font-family: "Amatic SC", cursive;
    font-size:80px;
}

h1{
    font-size: 10vw;
    font-family: "Sacramento", cursive;
    margin-top: 0;
    margin-bottom: 2px;
}

h2 {
    font-size: 8vw;
    text-align: center;
    font-family: "Amatic SC", cursive;
    margin-bottom: 10px;
    text-decoration: 2px underline black;
}

form{
    width: 60%;
    margin: auto;
    font-family: "Amatic SC", cursive;
    font-size: 4vw;
    text-align: center;
    padding: 10px;


}

label{
    padding-right: 5px;
    font-family: "Sacramento",cursive;
}

button{
    font-family: "Amatic SC",cursive;
    font-size: 5vw;
    background-color: Transparent;
    border:none;
}

button:hover{
    text-decoration: 2px black underline;
    color: white;
}

input, textarea{
    border-style: none none solid none;
    background-color: transparent;
    border-bottom: 2px solid black;
    font-size:25px;
    font-family: "Amatic SC", cursive;
}
.frequencyLabel{
    font-size: 4vw;
    font-family: "Sacramento", cursive;
}


.table{
    width: 80%;
    font-size: 4vw;
    text-align:center;
    margin: auto;
    font-family: "Sacramento", cursive;

}
